@model IEnumerable<RentalCarWeb.Models.DTO.Reservation>

@{
    ViewBag.Title = "Reservations List";
}

<h2>@ViewBag.Title</h2>
<br>
<h4 class="error">@ViewBag.Message</h4>

<form asp-controller="Reservation" asp-action="Index" method="get">
    <p>
        <div class="control-label col-md-2"><b>Search by Car Plate:</b></div>
        <input type="text" name="carPlate" class="form-control text-danger"><br>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Filter" class="btn btn-default" />
        </div>
    </p>
</form>
<br><br>
<form asp-controller="Reservation Status" asp-action="Index" method="get">
    <p>
        <div class="control-label col-md-2"><b>Search by Reservation Status ID:</b></div>
        <input type="text" name="status" class="form-control text-danger"><br>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Filter" class="btn btn-default" />
        </div>
    </p>
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Car ID", "Index", new { sortOrder = ViewBag.CarIDSortParam })
        </th>
        <th>
            @Html.ActionLink("Car Plate", "Index", new { sortOrder = ViewBag.PlateSortParam })
        </th>
        <th>
            @Html.ActionLink("Customer ID", "Index", new { sortOrder = ViewBag.CustomerSortParam })
        </th>
        <th>
            @Html.ActionLink("Reservation Status", "Index", new { sortOrder = ViewBag.RStatusSortParam })
        </th>
        <th>
            @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.StartDateSortParam })
        </th>
        <th>
            @Html.ActionLink("End Date", "Index", new { sortOrder = ViewBag.EndDateSortParam })
        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParam })
        </th>
        <th>
            @Html.ActionLink("Coupon Code", "Index", new { sortOrder = ViewBag.CouponCodeSortParam })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.carID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carPlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costumerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reservStatsID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.couponCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { carID = item.carID, customerID = item.costumerID }) |
                @Html.ActionLink("Details", "Details", new { carID = item.carID, customerID = item.costumerID })
            </td>
        </tr>
    }

</table>
