@model IEnumerable<RentalCarWeb.Models.DTO.Reservation>

@{
    ViewBag.Title = "Reservations List";
}

<h2>@ViewBag.Title</h2>

@Styles.Render("~/Content/tableStyle.css")
@Styles.Render("~/Content/commonStyle.css")
@Styles.Render("~/Content/errorStyle.css")
@Styles.Render("~/Content/buttonStyle.css")

<form asp-controller="Reservation" asp-action="Index" method="get">
    <p>
        Search by Car ID or Car Plate: <input type="text" name="search">
        <input type="submit" value="Filter" />
        <input type="reset" value="Reset" />
    </p>
</form>

<form asp-controller="Reservation Status" asp-action="Index" method="get">
    <p>
        Search by Reservation Status ID: <input type="text" name="search2">
        <input type="submit" value="Filter" />
        <input type="reset" value="Reset" />
    </p>
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Car ID", "Index", new { sortOrder = ViewBag.CarIDSortParam })
        </th>
        <th>
            @Html.ActionLink("Car Plate", "Index", new { sortOrder = ViewBag.PlateSortParam })
        </th>
        <th>
            @Html.ActionLink("Customer ID", "Index", new { sortOrder = ViewBag.CustomerSortParam })
        </th>
        <th>
            @Html.ActionLink("Reservation Status", "Index", new { sortOrder = ViewBag.RStatusSortParam })
        </th>
        <th>
            @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.StartDateSortParam })
        </th>
        <th>
            @Html.ActionLink("End Date", "Index", new { sortOrder = ViewBag.EndDateSortParam })
        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParam })
        </th>
        <th>
            @Html.ActionLink("Coupon Code", "Index", new { sortOrder = ViewBag.CouponCodeSortParam })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.carID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carPlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costumerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reservStatsID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.couponCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { carID = item.carID, customerID = item.costumerID }) |
                @Html.ActionLink("Details", "Details", new { carID = item.carID, customerID = item.costumerID }) |
                @Html.ActionLink("Delete", "Delete", new { carID = item.carID, customerID = item.costumerID })
            </td>
        </tr>
    }

</table>
