@model IEnumerable<RentalCarWeb.Models.Database.Car>

@{
    ViewBag.Title = "Cars List";
}

<h2>@ViewBag.Title</h2>

@Styles.Render("~/Content/tableStyle.css")
@Styles.Render("~/Content/commonStyle.css")
@Styles.Render("~/Content/errorStyle.css")

<form asp-controller="Car" asp-action="Index" method="get">
    <p>
        Search by Manufacturer or Location: <input type="text" name="search">
        <input type="submit" value="Filter" />
    </p>
</form>

<form asp-controller="Car" asp-action="Index" method="get">
    <p>
        List all available cars in a certain timerange:
        <input type="date" name="startDate">
        <input type="date" name="EndDate">
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Car ID", "Index", new { sortOrder = ViewBag.IdSortParam })
        </th>
        <th>
            @Html.ActionLink("Car Plate", "Index", new { sortOrder = ViewBag.PlateSortParam })
        </th>
        <th>
            @Html.ActionLink("Manufacturer", "Index", new { sortOrder = ViewBag.ManufacturerSortParam })
        </th>
        <th>
            @Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.ModelSortParam })
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParam })
        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParam })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CarID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CarID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CarID })
            </td>
        </tr>
    }

</table>
