@model IEnumerable<RentalCarWeb.Models.DTO.Customer>

@{
    ViewBag.Title = "Customer List";
}

<h2>@ViewBag.Title</h2>

@Styles.Render("~/Content/tableStyle.css")
@Styles.Render("~/Content/commonStyle.css")
@Styles.Render("~/Content/buttonStyle.css")

<form asp-controller="Customer" asp-action="Index" method="get">
    <p>
        Search by ID or Name: <input type="text" name="search">
        <input type="submit" value="Filter" />
        <input type="reset" value="Reset" />
    </p>
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.customerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.customerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.customerID })
            </td>
        </tr>
    }

</table>
