@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<RentalCarWeb.Models.DTO.Customer>

@{
    ViewBag.Title = "Customer List";
}

<h2>@ViewBag.Title</h2>
<br>
<h4 class="error">@ViewBag.Message</h4>

<form asp-controller="Customer" asp-action="Index" method="get">
    <p>
        <div class="control-label col-md-2"><b>Search by ID or Name:</b></div>
        <input type="text" name="search" class="form-control text-danger"><br>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Filter" class="btn btn-default" />
        </div>
    </p>
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Customer ID", "Index", new { sortOrder = ViewBag.IdSortParam, search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.ActionLink("Customer Name", "Index", new { sortOrder = ViewBag.NameSortParam, search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.ActionLink("Birth Date", "Index", new { sortOrder = ViewBag.BirthDateSortParam, search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParam, search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.customerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.customerID })
            </td>
        </tr>
    }

</table>
